.copy
{
	font-family: open-sans-n3, sans-serif;
}

.menulevel2,.menu-copy,.menunormal1,.menuallother,.menulvl2allother
{
	font-family: lato-n9, sans-serif;
}

.title,.new_menu_normal,.title2
{
	font-family: open-sans-condensed-n7, sans-serif;
}

#u688-4
{
	font-family: droid-sans-n4, sans-serif;
}

