#u622
{
	border-color: #000000;
	background-color: #393939;
	background-color: rgba(36, 36, 36, 0.9);
	position: fixed;
	-pie-background: rgba(36, 36, 36, 0.9);
}

#menuu111
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
}

#u3549
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u3549:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

.menunormal
{
	border-style: none;
	border-color: #000000;
	background-color: #8C8C8C;
	background-color: rgba(0, 0, 0, 0.45);
	-moz-border-radius: 10px 10px 0px 0px ;
	-webkit-border-radius: 10px 10px 0px 0px ;
	-khtml-border-radius: 10px 10px 0px 0px ;
	border-radius: 10px 10px 0px 0px ;
}

#u3551-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u3549:hover #u3551-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u738
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u738:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u740-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u738:hover #u740-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u745
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u745:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u746-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u745:hover #u746-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u750
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u750:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-pie-background: rgba(0, 0, 0, 0.7);
}

.menu2ndnormal
{
	border-style: none;
	border-color: #000000;
	background-color: #8C8C8C;
	background-color: rgba(0, 0, 0, 0.45);
	-moz-border-radius: 0px 0px 10px 10px ;
	-webkit-border-radius: 0px 0px 10px 10px ;
	-khtml-border-radius: 0px 0px 10px 10px ;
	border-radius: 0px 0px 10px 10px ;
}

#u766
{
	border-color: #777777;
	background-color: transparent;
	position: relative;
}

#u766:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u768-4
{
	background-color: transparent;
	line-height: 24px;
	font-size: 24px;
	letter-spacing: 0px;
	position: relative;
}

#u766:hover #u768-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u870
{
	border-color: #777777;
	background-color: transparent;
	position: relative;
}

#u870:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u872-4
{
	background-color: transparent;
	line-height: 24px;
	position: relative;
}

#u870:hover #u872-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u902
{
	border-color: #777777;
	background-color: transparent;
	position: relative;
}

#u902:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u904-4
{
	background-color: transparent;
	line-height: 24px;
	position: relative;
}

#u902:hover #u904-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u932
{
	border-color: #777777;
	background-color: transparent;
	position: relative;
}

#u932:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u935-4
{
	background-color: transparent;
	line-height: 24px;
	position: relative;
}

#u932:hover #u935-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u752
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u752:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u753-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u752:hover #u753-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3548,#u737,#u744,#u765,#u869,#u899,#u929,#u751,#u758
{
	background-color: transparent;
	position: relative;
}

#u759
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	position: relative;
}

#u759:hover
{
	background-color: #4C4C4C;
	background-color: rgba(0, 0, 0, 0.7);
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	-pie-background: rgba(0, 0, 0, 0.7);
}

#u3549.MuseMenuActive,#u738.MuseMenuActive,#u745.MuseMenuActive,#u749,#u766.MuseMenuActive,#u870.MuseMenuActive,#u902.MuseMenuActive,#u932.MuseMenuActive,#u752.MuseMenuActive,#u759.MuseMenuActive
{
	background-color: transparent;
}

#u760-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 29px;
	position: relative;
}

#u759:hover #u760-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u3549.MuseMenuActive #u3551-4 p,#u738.MuseMenuActive #u740-4 p,#u745.MuseMenuActive #u746-4 p,#u766.MuseMenuActive #u768-4 p,#u870.MuseMenuActive #u872-4 p,#u902.MuseMenuActive #u904-4 p,#u932.MuseMenuActive #u935-4 p,#u752.MuseMenuActive #u753-4 p,#u759.MuseMenuActive #u760-4 p
{
	color: #E6E6E6;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u1073
{
	position: fixed;
}

#u1073_img
{
	display: block;
	vertical-align: top;
}

#u1210
{
	background: -webkit-gradient(linear, center top, center bottom, from(rgba(36, 36, 36, 0.9)),color-stop(100%, rgba(36, 36, 36, 0)));
	background: -webkit-linear-gradient(top,rgba(36, 36, 36, 0.9) ,rgba(36, 36, 36, 0) 100%);
	background: -o-linear-gradient(top,rgba(36, 36, 36, 0.9) ,rgba(36, 36, 36, 0) 100%);
	background: linear-gradient(to bottom,rgba(36, 36, 36, 0.9) ,rgba(36, 36, 36, 0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5242424, endColorstr=#00242424, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5242424', endColorstr='#00242424', GradientType=0)";
	border-color: #000000;
	position: fixed;
}

#u3941
{
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.5);
	border-style: none;
	border-color: transparent;
	background-color: #B2B2B2;
	background-color: rgba(0, 0, 0, 0.3);
	-moz-border-radius: 0px 10px 10px 0px ;
	-webkit-border-radius: 0px 10px 10px 0px ;
	-khtml-border-radius: 0px 10px 10px 0px ;
	border-radius: 0px 10px 10px 0px ;
	position: fixed;
	-pie-background: rgba(0, 0, 0, 0.3);
}

#u3927
{
	vertical-align: top;
	position: fixed;
	background: url("../images/hu_50desat-u3927.png") no-repeat 8px 8px;
}

#u3927:hover
{
	background: url("../images/hu-u3927-r.png") no-repeat 0px 0px;
}

#u3932
{
	vertical-align: top;
	position: fixed;
	background: url("../images/uk_50desat-u3932.png") no-repeat 8px 8px;
}

#u3932:hover
{
	background: url("../images/uk-u3932-r.png") no-repeat 0px 0px;
}

#u3921
{
	vertical-align: top;
	position: fixed;
	background: url("../images/de_50desat-u3921.png") no-repeat 8px 8px;
}

#u3921:hover
{
	background: url("../images/de-u3921-r.png") no-repeat 0px 0px;
}

#u1170
{
	background: transparent url("../images/u1170-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(46%, rgba(0, 0, 0, 0)),to(rgba(0, 0, 0, 0.6)));
	background: -webkit-linear-gradient(top,rgba(0, 0, 0, 0) 46%,rgba(0, 0, 0, 0.6) );
	background: -o-linear-gradient(top,rgba(0, 0, 0, 0) 46%,rgba(0, 0, 0, 0.6) );
	background: linear-gradient(to bottom,rgba(0, 0, 0, 0) 46%,rgba(0, 0, 0, 0.6) );
	border-style: none;
	border-color: transparent;
	position: fixed;
}

#u688-4
{
	background-color: transparent;
	color: #B4B4B4;
	letter-spacing: 14px;
	text-align: center;
	font-family: droid-sans, sans-serif;
	font-weight: 400;
}

#u688-2
{
	padding-top: 6px;
}

